@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto'; 
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    border-bottom: 1px solid #E0E0E0;
    font-size: 0.75rem;
    text-transform: uppercase;
}

.header-contact {
    background: #F4F4F4;
}

.contact-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    min-height: 40px;
    letter-spacing: 1px;
}

.contact-list a {
    color: #AAAAAA;
}

.contact-list a:last-child {
    display: flex;
    align-items: center;
}

.contact-list img {
    width: 15px;
    height: auto;
}

.header-content, .main-content {
    margin: 0 auto;
}

.header-content {
    max-width: 1440px;
    width: 93%;
}

.header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 99px;
    background-color: #ffffff;
}

.header-container a {
    color: #000000;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 0 0 auto;
    gap: 20px;
    transition: 0.3s;
    margin: 0 0 0 65px;
    border: 1px solid transparent;
    width: 60px;
    height: 60px;
}

.header-logo:hover {
    border: 1px solid #000000;
}

.menu {
    transition: 0.3s;
    width: 410px;
}

.menu-list {
    display: flex;
    justify-content: space-between;
}

.link_hover::after {
    content: "";
    display: block;
    transition: width 0.3s;
    background: #000000;
    width: 0;
    height: 1px;
}

.link_hover:hover::after {
    width: 100%;
}

.showroom-container {
    display: flex;
    gap: 46px;
}

.showroom-container img {
    width: 23px;
    height: auto;
    cursor: pointer;
}

.location {
    display: flex;
    align-items: center;
    gap: 10px;
}

.line {
    display: block;
    transition: all 0.3s;
    margin: 5px;
    border-radius: 3px;
    width: 38px;
    height: 5px;
    background: #000000;
}

.button-checkbox {
    display: none;
}

.icon-burger {
    display: none;
    cursor: pointer;
}

.button-checkbox:checked ~ .menu {
    bottom: 0;
}

.button-checkbox:checked + .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
}

.button-checkbox:checked + .icon-burger .line:nth-child(2) {
    opacity: 0;
}

.button-checkbox:checked + .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
}

/* ----main----- */

.main {
    flex-grow: 1;
    font-size: 1.5rem;
}

.main-content {
    max-width: 1327px;
}

.products-block {
    margin: 48px 0 244px 0;
}

.about img {
    margin: 0 0 82px 0;
    width: 100%;
}

.about-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about__title {
    max-width: 355px;
}

.title {
    font-size: 3rem;
    line-height: 58px;
    font-weight: normal;
    color: #1A1A1A;
}

.about__subtitle {
    max-width: 569px;
}

.subtitle {
    line-height: 40px;
    color: #AAAAAA;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0 0 244px 0;
    padding: 110px 0 0 0;
}

.card img {
    transition: box-shadow 0.3s;
    margin: 0 0 9px 0;
    width: 100%;
    height: auto;
}

.card img:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.subtext__card {
    line-height: 1.75rem;
    color: #1A1A1A;
}

.partner {
    text-align: center;
}

.partner__subtitle {
    margin: 27px 0 125px 0;
    color: #4A4A4A;
}

.partner-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 65px;
    margin: 0 auto;
    max-width: 1144px;
    max-height: 327px;
}

.partner-container img {
    transition: 0.2s;
}

.partner-container img:hover {
    transform: scale(1.1);
}

/* ----explore-block---- */

.explore {
    margin: 0 0 237px 0;
}

.explore-img {
    position: relative;
    background: url(./images/main/explore/explore.jpg) 50% / cover no-repeat;
    min-height: 700px;
    width: 100%;
}

.explore-img [alt="vector_left"] {
    position: absolute;
    top: 50%;
    left: 53px;
    transform: translate(-50%, -50%);
}

.explore-img [alt="vector_right"] {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(-50%, -50%);
}

.explore-img img {
    cursor: pointer;
}

.explore-content {
    margin: 0 auto;
    max-width: 1090px;
    width: 98%;
}

.explore__title {
    margin: 119px 0 40px 0;
    max-width: 1177px;
}

.explore__link {
    transition: 0.2s;
    font-size: 14px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #46856E;
}

.explore__link:hover {
    color: #283f36;
}

.explore-container {
    display: flex;
    flex-wrap: wrap;
    padding: 59px 0 0 0;
}

.item {
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.3s;
    margin:  0 auto;
    padding: 10px;
    max-width: 325px;
    line-height: 1.5rem;
}

.item img {
    margin: 0 auto;
    width: 162px;
    height: auto;
}

.item:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
}

.item__title {
    margin: 18px 0 26px 0;
    color: #1A1A1A;
}

.item__subtitle {
    font-size: 1rem;
    color: #AAAAAA;
}

.reviews {
    margin: 0 0 240px 0;
    background: url(./images/main/reviews/woman.jpg) 50% / cover no-repeat;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 0 0 185px;
    padding: 120px 0 129px 0;
}

.reviews__link {
    transition: color 0.2s;
    font-size: 1rem;
    letter-spacing: 0.75px;
    color: #FFFFFF;
}

.reviews__link:hover {
    color: rgb(248, 248, 156);
}

.reviews-item {
    max-width: 208px;
}

.star-container {
    padding: 0 0 0 20px;
}

.star-container img {
    transition: 0.2s;
}

.star-container img:hover {
    transform: scale(1.3, 1.3);
}

.reviews__title {
    margin: 7px 0 8px 0;
    line-height: 2rem;
    color: #FFFFFF;
}

.job {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.job__paragraph {
    max-width: 882px;
    color: #AAAAAA;
}

.job__subparagraph {
    margin: 25px 0 135px 0;
    line-height: 35px;
    font-size: 48px;
}

.job-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 1200px;
    width: 100%;
    margin: 0 0 64px 0;
}

.job-item img {
    width: 55%;
}

.job-item-container-text {
    display: flex;
    justify-content: center;
    max-width: 660px;
    width: 100%;
}

.job-item-text {
    max-width: 307px;
}

.job-item__title {
    margin: 0 0 25px 0;
    font-size: 2rem;
    line-height: 2.25rem;
    color: #1A1A1A;
}

.job-item__subtitle {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #AAAAAA;
}

.job > img {
    margin: 224px 0 0 0;
    width: 100%;
}

/* ----shop-block---- */

.shop-block {
    padding: 120px 0 0 0;
}

.shop-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 2px;
    max-width: 1200px;
    min-height: 465px;
    background-color: #F2F2F2;
    text-align: center;
    font-size: 0.75rem;
}

.shop__title {
    text-align: center;
}

.shop-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 70px 0;
    max-width: 800px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.shop-item {
    letter-spacing: 0.75px;
}

.shop-item img {
    margin: 0 0 29px 0;
    width: 64px;
    height: auto;
}

.shop__button {
    margin: 0 0 27px 0;
    padding: 24px 0;
    transition: 0.3s;
    border: none;
    border-radius: 2px;
    width: 146px;  
    background: #46856E;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFFFFF;
    cursor: pointer;
}

.shop__button:hover {
    background: #35564a;
}

.shop__subtext {
    line-height: 14px;
    color: #AAAAAA;
}

/* ---footer---- */

.footer {
    margin: 79px 0 0 0;
    background-color: #2B2B2B;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    margin: 0 auto;
    padding: 97px 0 51px 0;
    max-width: 1200px;
    width: 98%;
    color: #FFFFFF;
}

.footer-logo img {
    transition: 0.3s;
}

.footer-logo img {
    border: 1px solid transparent;
}

.footer-logo img:hover {
    border: 1px solid #FFFFFF;
}

.footer-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    max-width: 300px;
}

.footer-list-container a {
    color: #FFFFFF;
}

.footer-list-container a:hover {
    border-bottom: 1px solid #FFFFFF;
}

.footer-list-container, .footer-follow {
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 0.5px;
}

.footer-item {
    min-width: 125px;
}

.footer-item li {
    margin: 0 0 4px 0;
}

.title__list {
    margin: 0 0 19px 0;
}

.footer-follow a {
    margin: 0 13px 0 0;
}

.footer-follow a:last-child {
    margin: 0;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 369px;
    min-height: 452px;
}

.form__text {
    font-size: 0.813rem;
    line-height: 1.313rem;
    letter-spacing: 0.5px;
}

.label__email {
    display: block;
    margin: 17px 0 30px 0;
    font-size: 0.875rem;
    line-height: 1rem;
}

.email {
    display: block;
    margin: 0 0 93px 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    outline:none;
    max-width: 327px;
    width: 100%;
    height: 54px;
    background-color: transparent;
    text-align: center;
    color: #FFFFFF;
}

.form__button {
    position: absolute;
    bottom: 0;
    right: 35px;
    display: block;
    transition: 0.2s;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    color: #FFFFFF;
    cursor: pointer;
}

.form__button:hover {
    border-bottom: 1px solid #ffffff;
}

.checkbox {
    position: relative;
}

.input__checkbox {
    position: absolute;
    appearance: none;
}

.label__checkbox {
    margin: 0 0 58px 0;
    font-size: 0.688rem;
    line-height: 0.813rem;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    color: rgba(255, 255, 255, 0.5);
}

.label__checkbox::before {
    content: "";
    position: absolute;
    z-index: 1;
    left: -50px;
    display: block;
    transition: background 0.1s linear;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 28px;
    height: 26px;
}

.label__checkbox::after { 
    content: "";
    position: absolute;
    z-index: 2;
    top: 2px;
    left: -48px;
    display: block;
    opacity: 0;
    transition: opacity 0.1s linear;
    background-image: url(./images/footer/check.svg);
    background-repeat: no-repeat;
    background-size: 28px 26px;
    width: 28px;
    height: 26px;
}

.input__checkbox:checked + .label__checkbox::before {
    background-color: rgba(255, 255, 255, 0.5);
}

.input__checkbox:checked + .label__checkbox::after {
    opacity: 1;
}

@media only screen and (max-width : 1024px) {
    .header-logo {
        margin: 0;
    }

    .about-text {
        flex-direction: column;
        text-align: center;
    }

    .about__title {
        margin: 0 0 20px 0;
        max-width: 900px;
    }

    .about__subtitle {
        max-width: 1000px;
    }

    .partner-container {
        gap: 10px;
    }

    .explore-img {
        min-height: 540px;
    }

    .footer-content {
        flex-wrap: wrap;
    }

    .form {
        margin: 0 auto;
    }
}

@media only screen and (max-width : 768px) {
    .header {
        position: fixed;
        z-index: 2;
        width: 100%;
    }

    .header-content {
        width: 100%;
    }

    .icon-burger {
        display: block;
    }

    .menu {
        position: fixed;
        top: 140px;
        right: 0;
        bottom: 100%;
        left: 0;
        overflow: hidden;
        width: auto;
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    .menu a {
        color: #FFFFFF;
    }

    .link_hover::after {
        background: #FFFFFF;
    }

    .menu-list {
        flex-direction: column;
        align-items: center;
    }

    .menu-list li {
        margin: 10px 0 10px 0;
    }

    .location a:last-child {
        display: none;
    }

    .showroom-container {
        gap: 10px;
        margin: 0 5px 0 0;
    }

    .main {
        margin: 140px 0 0 0;
    }

    .about img {
        margin: 0 0 82px 0;
    }

    .title {
        font-size: 1.875rem;
        line-height: 2rem;
    }

    .subtitle {
        font-size: 1.25rem;
        line-height: 1.688rem;
    }

    .card img {
        margin: 0 0 9px 0;
        width: 300px;
        height: auto;
    }

    .subtext__card {
        font-size: 1rem;
    }

    .products-block {
        margin: 50px 0 100px 0;
    }

    .products {
        margin: 0 0 130px 0;
        padding: 145px 0 0 0;
    }

    .explore {
        margin: 0 0 90px 0;
    }

    .explore-img {
        min-height: 360px;
    }
    
    .explore-container {
        padding: 130px 0 0 0;
    }

    .reviews-container {
        margin: 0;
        padding: 10px 0 10px 0;
        align-items: center;
    }

    .reviews {
        margin: 0 0 100px 0;
    }

    .job > img {
        margin: 50px 0 0 0;
    }

    .job__subparagraph {
        font-size: 1.875rem;
        line-height: 3.438rem;
    }

    .shop-block {
        padding: 130px 0 0 0;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }
}

@media only screen and (max-width : 600px) {
    .partner {
        display: none;
    }
    
    .job-item {
        flex-wrap: wrap-reverse;
    }

    .job-item:nth-child(3) {
        flex-wrap: wrap;
    }

    .job-item img {
        width: 90%;
    }

    .job-item-text {
        text-align: center;
    }
}

@media only screen and (max-width : 533px) {
    .explore-img {
        min-height: 260px;
    }

    .label__checkbox::before {
        top: -27px;
        left: 0;
    }
    
    .label__checkbox::after {
        top: -26px;
        left: 1px;
    }
}

@media only screen and (max-width : 360px) {
    .explore-img [alt="vector_left"] {
        left: 28px;
    }
    
    .explore-img [alt="vector_right"] {
        right: 5px;
    }
}

@media only screen and (max-width : 320px) {
    .contact-list {
        flex-direction: column;
        align-items: flex-end;
        gap: 0;
    }
}